.card__crypto {
}
.crypto__text {
  font-weight: 700;
  margin-bottom: 2rem;
}
.crypto__img {
  width: 40px;
  display: block;
  margin: 0 auto;
}
.crypto__name {
}
.crypto__symbol {
}
.crypto__price {
}
.crypto__market-price {
}
